<mat-card>
  <mat-card-title>All books</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Goodnight Moon <a href="">Edit</a><a href="">Delete</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Goodnight Moon <a href="">Edit</a><a href="">Delete</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Goodnight Moon <a href="">Edit</a><a href="">Delete</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Goodnight Moon <a href="">Edit</a><a href="">Delete</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Goodnight Moon <a href="">Edit</a><a href="">Delete</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Goodnight Moon <a href="">Edit</a><a href="">Delete</a></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>All Readers</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Marie <a href="">Edit</a><a href="">Delete</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Daniel <a href="">Edit</a><a href="">Delete</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Lanier <a href="">Edit</a><a href="">Delete</a></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Most Popular Book</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Goodnight Moon <a href="">Edit</a><a href="">Delete</a></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>