<mat-card>
  <mat-card-title>Add Book</mat-card-title><br>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput placeholder="ex. Romeo and Julia" value="Romeo and Julia">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Author</mat-label>
      <input matInput placeholder="ex. Shakespear" value="Shakespear">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Year</mat-label>
      <input matInput placeholder="ex. 1245" value="1245">
    </mat-form-field>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button>Set as most popular</button>
    </div>
  </form>
</mat-card>