.form-group, .form-floating{
  margin: 10px;
}

.ng-invalid:not(form).ng-touched{
  border: 1px solid red;
}

.container{
  background-color: moccasin;

  &__title{
    color: black;
  }
  &__subtitle{
    color: black;
  }
  &__subtitle:hover{
    color: black;
  }


}